* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  margin-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
p {
  margin-top: 10px;
  font-size: 16px;
}
.img-fluid {
  width: 100%;
  object-fit: cover;
}
.img-logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30%;
}
.content-body {
  margin: auto;
  margin-top: 20px;
  width: 96%;
  max-width: 800px;
}

.meta-data {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.meta-data .img-author {
  border-radius: 50%;
}

.meta-data .read-time {
  background-color: #4c4c4c;
  color: white;
  padding: 5px;
  border-radius: 10%;
}
.meta-data .read-time p {
  margin: 0;
}
.publish-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.publish-details .author-details {
  margin-left: 10px;
}
.author-details h5 {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: bold;
}
.author-details p {
  margin-top: 3px;
  font-size: 13px;
  color: #4c4c4c;
}
@media screen and (max-width: 4320px) {
  .img-fluid {
    height: 650px;
  }
}

@media screen and (max-width: 1280px) {
  .img-fluid {
    height: 600px;
  }
}

@media screen and (max-width: 1080px) {
  .img-fluid {
    height: 400px;
  }
}

@media screen and (max-width: 780px) {
  .img-fluid {
    height: 300px;
  }

  .img-logo {
  width: 50%;

  left: 15px;
  top: 15px;
}
}

@media screen and (max-width: 480px) {
  .img-fluid {
    height: 160px;
  }
  .meta-data .read-time {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
